$primary-color: #dee5ed;
$secondary-color: #787878;
$font-stak: Georgia, 'Times New Roman', Times, serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  align-content: center;
  width: 100%;
  height: 100vh;
  background-color: $primary-color;
  font-family: $font-stak;
}

.empty-state-msg {
  text-align: center;
}

.key-pressed {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.key-info {
  display: flex;
  gap: 25px;
  * {
    align-content: center;
    text-align: center;
    width: 200px;
    height: 50px;
    border: 1px solid $secondary-color;
    font-size: 24px;
  }
}

.key-history {
  width: 80%;
  height: auto;
  text-align: center;
  
  p {
    font-family: $font-stak;
    font-size: 24px;
  }
}